:root {
	--inset: inset 0 7px 9px -7px rgba(0,0,0,0.7);;
	--el1: 0 1px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);;
	--el2: 0 3px 6px rgba(0,0,0,0.16), 0 4px 8px rgba(0,0,0,0.23);;
	--el3: 0 10px 20px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.20);;
	--el4: 0 14px 28px rgba(0,0,0,0.25), 0 12px 12px rgba(0,0,0,0.22);;
	--el5: 0 19px 38px rgba(0,0,0,0.30), 0 16px 14px rgba(0,0,0,0.22);;
	--el6: 0 19px 38px rgba(0,0,0,0.25), 0 16px 14px rgba(0,0,0,0.16);
}
