:root {
	--size1: 8px;
	--size2: 10px;
	--size3: 12px;
	--size4: 14px;
	--size5: 16px;
	--size6: 18px;
	--size7: 20px;
	--size8: 24px;
	--size9: 28px;
	--size10: 32px;
	--size11: 36px;
	--size12: 40px;
	--size13: 48px;
	--size14: 56px;
	--size15: 64px;
	--size16: 72px;
	--size17: 96px;
}
