:root {
	--sp1: 1px;
	--sp2: 2px;
	--sp3: 4px;
	--sp4: 6px;
	--sp5: 8px;
	--sp6: 10px;
	--sp7: 12px;
	--sp8: 16px;
	--sp9: 20px;
	--sp10: 24px;
	--sp11: 28px;
	--sp12: 32px;
	--sp13: 36px;
	--sp14: 40px;
	--sp15: 48px;
	--sp16: 56px;
	--sp17: 64px;
	--sp18: 72px;
	--sp19: 80px;
	--sp20: 96px;
	--sp21: 128px;
	--sp22: 160px;
	--sp23: 192px;
	--sp24: 224px;
	--sp25: 256px;
	--sp26: 384px;
	--sp27: 512px;
	--sp28: 640px;
	--sp29: 768px;
	--sp30: 896px;
	--sp31: 960px;
	--sp32: 1024px;
}
