html {
  box-sizing: border-box;
  font-size: var(--root-size);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  color: var(--text);
  font-family: var(--body);
  line-height: 1.4;
  background: var(--bg);

  @media only screen and (min-width: 896px) {
    line-height: 1.5;
  }
}

img {
  max-width: 100%;
}

hr {
  --weight: 1px;
  --color: var(--gray100);
  background: var(--color);
  border: none;
  height: var(--weight);
  margin-bottom: var(--st-gap);
}
